# Variables

Usar **variables** nos permite _guardar_ valores bajo determinados nombres.
Por ejemplo, asignemos una cantidad hipotética de alumnes a una variable y el nombre del curso en otra.

In [1]:
n_alumnes = 12
curso = "Introduccion a Python"

Podemos hacer uso de la función `print` para examinar los valores asignados a cada variable.

In [2]:
print(n_alumnes)
print(curso)

12
Introduccion a Python

También podemos pasar múltiples **argumentos** a la **función** `print`.

In [3]:
print("El curso", curso, "posee", n_alumnes, "alumnes.")

El curso Introduccion a Python posee 12 alumnes.

Las variables numéricas pueden ser utilizadas para realizar cálculos.

In [4]:
nuevos_alumnes = 3
n_alumnes = n_alumnes + nuevos_alumnes
print("Ahora el curso posee", n_alumnes, "alumnes.")

Ahora el curso posee 15 alumnes.

## Tipos

No todas las variables son del mismo tipo. Por ejemplo, `n_alumnes` guarda valores numéricos enteros, mientras que `curso` guarda un _texto_.

Algunos tipos de variables que podemos nombrar son:
- _strings_ (`str`): cadena de caracteres
- _integers_ (`int`): números enteros
- _floats_ (`float`): valores de punto flotante (representación aproximada de números reales).

In [7]:
nombre = "Emmy Noether"
cantidad_de_becaries = 16
temperatura_celsius = 20.3

In [10]:
type(nombre)

str

In [11]:
type(cantidad_de_becaries)

int

In [12]:
type(temperatura_celsius)

float

## Operaciones

Podemos aplicar diferentes operaciones matemáticas a las variables.

Medimos una determinada variable geofísica a una altura de 53.2 metros sobre el nivel del mar:

In [21]:
altura_medicion = 53.2

**Suma**

In [18]:
altura_medicion + 10.6

23.3

**Producto**

In [20]:
altura_medicion * 2

32

**División**

In [22]:
altura_medicion /  3.0

17.733333333333334

In [2]:
5 / 2

2.5

**División entera**

In [23]:
5 // 2

2

**Potencia**

In [26]:
5 ** 3

125

**Concatenación de strings**

In [1]:
saludo = "hola" + " " + "mundo"
print(saludo)

hola mundo

## Observaciones

Python es sensible a mayúsculas y minúsculas

In [13]:
Temperatura = 21.3
temperatura = 19.5
print("Temperatura:", Temperatura)
print("temperatura:", temperatura)

Temperatura: 21.3
temperatura: 19.5

## Ejercicio

Un colega de Estados Unidos nos ha compartido la siguiente medición de temperatura de suelo dada en Fahrenheit:

$$ T = 30.3 ^\circ\text{F} $$

Conviertan este valor a grados Celsius, sabiendo que:

$$ [^\circ\text{C}] = \frac{5}{9} ([^\circ\text{F}] - 32) $$

Requerimientos:
- Asignar el dato recibido a una variable.
- Aplicar la transformación de unidades usando esta variable.
- Guardar el dato en Celsius en otra variable.
- Utilizar la función `print` para mostrar ambos resultados.