In [1]:
impares = [1, 3, 5, 7, 9]

In [2]:
type(impares)

list

In [3]:
variables_medidas = ["temperatura", "presion", "humedad"]

In [4]:
variables_medidas

['temperatura', 'presion', 'humedad']

In [5]:
temperaturas = [10.1, 14.6, 18.3, 20.3]

In [6]:
temperaturas

[10.1, 14.6, 18.3, 20.3]

In [7]:
temperaturas[0]

10.1

In [8]:
temperaturas[1]

14.6

In [9]:
temperaturas[-1]

20.3

In [10]:
temperaturas[-2]

18.3

In [11]:
temperaturas[0] = -2.3

In [12]:
temperaturas

[-2.3, 14.6, 18.3, 20.3]

In [13]:
temperaturas.append(23.5)

In [14]:
temperaturas

[-2.3, 14.6, 18.3, 20.3, 23.5]

In [15]:
len(temperaturas)

5

In [16]:
temperaturas[1:3]

[14.6, 18.3]

In [17]:
temperaturas[3:]

[20.3, 23.5]

In [18]:
temperaturas[:3]

[-2.3, 14.6, 18.3]

In [19]:
lista_heterogenea = ["agua", 20.1, 52]

In [21]:
lista_heterogenea

['agua', 20.1, 52]

In [22]:
anidadas = [[1, 2, 3], 3.0, "hielo"]

In [23]:
anidadas

[[1, 2, 3], 3.0, 'hielo']

In [25]:
anidadas[0][-1]

3

In [26]:
print(2 ** 2)
print(3 ** 2)
print(4 ** 2)
print(5 ** 2)

4
9
16
25

In [27]:
numeros = [2, 3, 4, 5]

for n in numeros:
    print(n ** 2)

4
9
16
25

In [28]:
numeros = [2, 3, 4, 5]

for n in numeros:
    print(n ** 2)

print("Este print donde va?")

4
9
16
25
Este print donde va?

In [29]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [30]:
suma = 0
for i in range(10):
    suma = suma + (i + 1)

In [31]:
suma

55

In [32]:
suma = 0
for i in range(10):
    suma += (i + 1)

In [33]:
print(suma)

55

In [34]:
pares = [2 * i for i in range(5)]

In [35]:
pares

[0, 2, 4, 6, 8]

In [36]:
pares = []

for i in range(5):
    pares.append(2 * i)

In [37]:
pares

[0, 2, 4, 6, 8]