In [1]:
n_alumnes = 142

In [2]:
print(n_alumnes)

142

In [3]:
curso = "Introduccion a Python para Cientificxs"

In [4]:
print("El curso", curso, "tiene", n_alumnes, "alumnes.")

El curso Introduccion a Python para Cientificxs tiene 142 alumnes.

In [5]:
nuevos_alumnes =  5

In [6]:
n_alumnes = n_alumnes + nuevos_alumnes

In [7]:
print(n_alumnes)

147

In [8]:
nombre = "Emmy Noether"
cantidad_de_becaries = 16
temperatura_celsius = 20.3

In [9]:
type(nombre)

str

In [10]:
type(cantidad_de_becaries)

int

In [11]:
type(temperatura_celsius)

float

In [12]:
altura = 57.9

In [13]:
type(altura)

float

In [14]:
altura = 50

In [15]:
type(altura)

int

In [16]:
altura = "metros"

In [17]:
type(altura)

str

In [18]:
altura_medicion = 53.2

In [19]:
altura_medicion + 10.3

63.5

In [20]:
altura_medicion

53.2

In [21]:
altura_medicion * 2

106.4

In [22]:
altura_medicion / 2

26.6

In [23]:
altura_medicion ** 2

2830.2400000000002

In [24]:
5 // 2

2

In [25]:
"hola" + "mundo"

'holamundo'

In [26]:
altura_doble = altura_medicion * 2

In [27]:
altura_doble

106.4

In [28]:
temperatura = 21.3

In [29]:
Temperatura = 19.5

In [30]:
print(temperatura)

21.3

In [31]:
print(Temperatura)

19.5